{% extends 'base.html' %}

{% block body %}

<div class="container mt-5">
  <div class="row">
    <div class="mr-3">
      <div class="row">
        <div class="col-6">
          {% if people.profile.image %}
            <img src="{{ people.profile.image.url }}" style="border-radius:50%" width="70%">
          {% else %}
            <img src="https://i.imgur.com/xrSh9Z0.jpg" style="border-radius:50%" width="70%" alt="default">
          {% endif %}
        </div>
        
        <div>
          <!--해당 유저가 이미 follow 하고 있다면 unfollow를 보여줌-->
          <h1>{{ people.username }} 
          {% if people != user %}
            {% if user in people.followers.all %}
              <a href="{% url 'accounts:follow' people.id %}" class="btn btn-outline-primary">unfollow</a> 
            {% else %}
              <a href="{% url 'accounts:follow' people.id %}" class="btn btn-primary">follow</a> 
            {% endif %}
          {% endif %}
          </h1>
          
          <p>{{people.last_name}}{{people.first_name}}</p>
          <strong>{{ people.profile.nickname }}</strong>
          <p>
            {{ people.profile.description }}
          </p>  
        </div>
      </div>  
    </div>
      
    
    <div class="mt-2">
      {% if user == people %}
      <a href="{% url 'accounts:password' %}" class="btn btn-danger">비밀번호변경</a>
      <a href="{% url 'accounts:update' %}" class="btn btn-info">회원정보수정</a>
      <a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원탈퇴</a>
      {% endif %}
    </div>
  
  </div>
  
  
  <div class="row">
    {% for post in people.post_set.all %}
    <div class="card col-4 mt-3 mr-3">
      <img src="{{ post.image.url }}" class="img-fluid">
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
